keystoneauth1~=4.3.0
boto3~=1.26.155
asyncssh
distributed~=2023.8.1
python-hostlist
pykafka~=2.8.0
pyspark~=3.4.0
setuptools~=66.0.0
numpy~=1.23.5
dask~=2023.8.1
pennylane~=0.32.0
pandas~=2.0.1
argparse~=1.4.0
torch~=2.0.1
torchvision~=0.15.2
ray~=2.7.0
pennylane-lightning
