{
    "resource":"ec2://awscloud.com",
    "number_cores" : 1,
    "ec2_ssh_username":"ec2-user",
    "ec2_ssh_keyname":"xxx",
    "ec2_ssh_keyfile":"xx",    
    "ec2_vpc_id" : "xx",   
    "ec2_subnet_id": "xx",
    "ec2_image_id" : "xx", 
    "ec2_security_group": "xx",
    "ec2_instance_type" : "t2.small",
    "ec2_name": "streaming-dask", 
    "ec2_spot": "True",
    "type":"ec2"

}